html {
  background: #282828;
  text-align: center;
  font-size: 10px;
  font-family: "Mono", monospace;
  color: white;
}
body {
  margin: 0;
  font-size: 2rem;
  min-height: 100vh;
  align-items: center;
}

h1 {
  font-size: 35px;
  font-weight: normal;
  color: rgb(156, 156, 156);
  margin: 35px;
}

.routine {
  width: 60rem;
  height: 60rem;
  margin: auto;
  position: relative;
  padding: 15px;
  border-radius: 50%;
  background-color: #282828;
  border: 1px solid white;
}

/* ROUTINE MARKINGS  */
.routine__markings .marking,
.routine__markings::after,
.routine__markings::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  background: white;
  z-index: 0;
  left: 50%;
  top: 0;
}

.routine__markings::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg) ;
}
.routine__markings .marking.marking-tierce,
.routine__marking .marking.marking-detail {
  width: 2px;
}
.routine__markings .marking.marking-detail {
  width: 1px;
}
.routine__markings .marking.marking-tierce.one {
  transform: rotate(45deg);
}
.routine__markings .marking.marking-tierce.two {
  transform: rotate(135deg);
}
.routine__markings .marking.marking-detail.one {
  transform: rotate(15deg);
}
.routine__markings .marking.marking-detail.two {
  transform: rotate(30deg);
}
.routine__markings .marking.marking-detail.three {
  transform: rotate(60deg);
}
.routine__markings .marking.marking-detail.four {
  transform: rotate(75deg);
}
.routine__markings .marking.marking-detail.five {
  transform: rotate(105deg);
}
.routine__markings .marking.marking-detail.six {
  transform: rotate(120deg);
}
.routine__markings .marking.marking-detail.seven {
  transform: rotate(150deg);
}
.routine__markings .marking.marking-detail.seven {
  transform: rotate(165deg);
}
.routine__markings .marking.marking-detail.eight {
  transform: rotate(150deg);
}

/* ROUTINE SCHEMA  */

.routine__schema {
  position: relative;
  margin: auto;
  padding: 30px;
  border-radius: 50%;
  overflow: hidden;
}

/* clock  */
.clock {
  position: relative;
  z-index: 10;
  width: 50rem;
  height: 50rem;
  padding: 2rem;
  border-radius: 50%;
}

.clock__face {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #282828;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

.clock__face__time {
  position: absolute;
  color: white;
  left: 50%;
  top: 45%;
  font-size: 25px;
  z-index: 55;
  transform: translateX(-50%);
  background: rgba(0, 0, 0);
  padding: 5px;
  border-radius: 4px;
}

/* clock middle point  */
.clock__face::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #4d4b63;
  z-index: 11;
}

.clock__face__hand {
  width: 45%;
  right: 50%;
  height: 5px;
  background: #e6e6e6;
  position: absolute;
  top: 50%;
  border-radius: 2px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
/* big squares for routine parts*/
.part {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: rotate(calc(var(--rotation) * 1deg));
  transform-origin: left 0%;
  position: absolute;
  transition: 0.2s;
  z-index: 5;
  text-align: right;
}

.part__label {
  display: block;
  font-size: 12px;
  max-width: 60px;
  word-wrap: break-word;
  color: black;
  margin: auto;
  transform: translate(124px,2px);
  text-align: left;
  line-height: 10px;
}
.part__label--rotate {
  transform: translate(118px,2px) rotate(180deg);
}

/*  routine creation  */
.routine-creation {
  display: none;
  justify-content: center;
}
.routine-creation h2 {
  margin: 5px;
  font-size: 25px;
}
.routine-creation .input-sleep {
  display: flex;
  justify-content: center;
}
.routine-creation .input-sleep-start {
  margin-right: 15px;
}

@media (max-width: 650px) {
  .routine {
    width: 30rem;
    height: 30rem;
  }
  .clock {
    width: 20rem;
    height: 20rem;
  }
  .clock__face__time {
    font-size: 12px;
  }
  .part{
    width: 160px;
    height: 160px;
  }
  .part__label {
    font-size: 10px;

    line-height: 6px;
    transform: translate(58px,2px);
  }
  .part__label--rotate {
    transform: translate(38px,2px) rotate(180deg);
  }
}
